body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100%;
}
#mapid {
    position: absolute;
    z-index: 1;
}
.info {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}
footer {
    height: 300px;
    background-color: #f7f7f7;
    text-align: center;
    margin-top: 50px;
    padding-top: 80px;
    font-size: 24px;
    color: #676767;
}
#custom_footer {
    z-index: 2000;
}
.countries {
    margin-top: 50px;
    margin-bottom: 50px;
}
.countryDesc {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.countryMap {
    height: 80px;
}
.country {
    width: 15%;
}
.countryList {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
}
.count {
    font-size: 40px;
    margin-top: 20px;
}
#location {
    z-index: 401;
}
input[name="location"] {
    margin: 4px 0;
}
.marker-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #2A81CB;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    border: 2px solid black;
}
    /*// to draw white circle*/
    .marker-pin::after {
        content: '';
        width: 18px;
        height: 18px;
        margin: 3px 0 0 5px;
        background: #fff;
        position: absolute;
        border-radius: 50%;
    }
/*// to align icon*/
.custom-div-icon i {
    position: absolute;
    width: 22px;
    font-size: 22px;
    left: 0;
    right: 0;
    margin: 10px auto;
    text-align: center;
}
.myContainer {
    position: absolute;
    z-index: 2;
    background-color: white;
    margin: 15px;
    border-radius: 25px;
    /*padding: 10px;*/
    box-shadow: 5px 5px 15px rgba(0,0,0,.3);
    max-width: 400px;
    left: 48%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.titleContainer {
    background-color: #002E5D;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
    .titleContainer h3 {
        margin-top: 0px;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        cursor: default;
    }
.splashTitleContainer {
    background-color: #002E5D;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
    .splashTitleContainer h3 {
        margin-top: 0px;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center
    }
.footerContainer {
    background-color: #002E5D;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 3px;
}
.bodyContent {
    padding-left: 10px;
    padding-right: 10px;
}
    .bodyContent p {
        font-size: 12px;
        margin-left: 25px;
        margin-right: 25px;
    }
.footerContainer p {
    margin-bottom: 0px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}
.col-auto {
    padding: 6px;
}
.leaflet-control-zoom {
    box-shadow: 0px 0px 10px rgba(0,0,0,.3) !important;
}
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 4;
    top: 0;
    left: -320px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 20px 0px 20px rgba(0,0,0,.3)
}
    .sidenav a {
        text-decoration: none;
        color: #818181;
        transition: 0.3s;
    }
        .sidenav a:hover {
            /*color: #f1f1f1;*/
        }
.closebtn {
    font-size: 36px;
    float: right;
}
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#myBrand {
    overflow-x: hidden;
    white-space: nowrap;
    transition: 0.5s;
    font-size: 25px;
}
.sidenav-container {
    padding: 0px 20px 0 20px;
    width: 100%;
}
.sidenav-title {
    right: 200px;
    margin-top: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.checkbox-form {
    right: 200px;
    font-size: 18px;
    white-space: nowrap;
    overflow-x: hidden;
    margin: 15px 0px 0px 0px;
    color: white;
}
legend {
    color: white;
    border: none;
    margin-bottom: 5px;
    font-size: 20px;
}
fieldset {
    margin-bottom: 20px;
}
.form-check {
    margin-left: 20px;
}
.form-check-label {
    font-weight: normal;
}
#filter-checks {
    margin-left: 40px;
    margin-bottom: 10px;
}
#custom_shadow {
    height: 0;
    width: 0;
    position: absolute;
    z-index: 3;
    background: rgba(255,255,255,0);
}
.btn {
    width: 75px;
    margin-left: 10px;
    margin-right: 10px;
}
.newSearchButtonContainer {
    position: absolute;
    z-index: 2;
    visibility: hidden;
    left: 50px;
    top: 50px;
}
.newSearchButton {
    background-color: #002E5D;
    color: white;
    font-weight: bold;
    height: 65px;
    width: 200px;
    border-radius: 10px;
    font-size: 16px;
}
.refreshButtonContainer {
    position: absolute;
    z-index: 2;
    visibility: hidden;
    left: 50px;
    bottom: 50px;
}
.refreshSearch {
    background-color: #002E5D;
    color: white;
    font-weight: bold;
    height: 65px;
    width: 200px;
    border-radius: 10px;
    font-size: 16px;
}
#noResults {
    color: red;
    display: none;
}
    #noResults p {
        font-size: 12px;
    }
.splashScreenDiv {
    position: absolute;
    z-index: 5;
    background-color: white;
    margin: 0px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.3);
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    font-size: 16px;
    display: none;
}
.splashHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.splashHeaderTitle {
    text-align: center;
}
    .splashHeaderTitle h1 {
        border-bottom: 1px #555555 solid;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 28px;
    }
.splashHeaderCloseButton {
    margin-left: 40px;
    font-size: 36px;
    float: right;
}
.videoContainer {
    text-align: center;
    object-fit: cover;
    width: 65%;
    margin-left: 17.5%;
    margin-left: 17.5%;
}
.video {
    width: 100%;
}
.splashContent {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}
    .splashContent li {
        margin-bottom: 5px;
    }
.doneButtonContainer {
    text-align: center;
    margin: 15px;
}
.help {
    display: flex;
    justify-content: flex-end;
}
.helpContainer {
    width: auto;
    margin-top: 5px;
    margin-right: 10px;
}
    .helpContainer:hover {
        text-decoration: underline;
        text-decoration-color: #002E5D;
        cursor:pointer;
    }
    .helpContainer p {
        width: auto;
        margin-bottom: 2px;
        margin-top: 5px;
        color: #002E5D;
    }
@@media only screen and (max-width: 450px) {
    .splashScreenDiv {
        width: 90%;
    }
    .videoContainer {
        display: none;
    }
    .closebtn {
        margin-right: 10px;
    }
    .leaflet-control-zoom {
        display: none;
    }
    .splashContent {
        font-size: 10.5px;
        margin-top: 5px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .splashHeaderTitle h1 {
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .splashTitleContainer h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .doneButton {
        font-size: 11px;
    }
    .doneButtonContainer {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .myContainer {
        width: 80%;
    }
    .TitleContainer h3 {
        font-size: 15px;
    }
    .bodyContent h4 {
        font-size: 15px;
    }
    .bodyContent {
        font-size: 10px;
    }
        .bodyContent p {
            margin-left: 0px;
            margin-right: 0px;
        }
    .form-control {
        height: 25px;
        font-size: 12px;
    }
    .searchbtn {
        width: auto;
        font-size: 12px;
    }
    .newSearchButtonContainer {
        left: 10px;
        top: 10px;
    }
    .newSearchButton {
        height: 50px;
        width: 200px;
    }
    .refreshButtonContainer {
        left: 10px;
        bottom: 10px;
    }
    .refreshSearch {
        height: 50px;
        width: 200px;
    }
}
@@media only screen and (min-width: 451px) and (max-width: 700px) {
    .splashScreenDiv {
        width: 80%;
    }
    .videoContainer {
        display: none
    }
    .splashContent {
        font-size: 12px;
    }
    .splashHeaderTitle h1 {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .splashTitleContainer h3 {
        font-size: 20px
    }
    .doneButton {
        font-size: 12px;
    }
    .doneButtonContainer {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .myContainer {
        width: 80%;
    }
}
@@media only screen and (min-width: 701px) and (max-width: 1400px) {
    .splashScreenDiv {
        width: 80%;
    }
    .videoContainer {
        width: 50%;
        margin-left: 25%;
        margin-left: 25%;
    }
    .splashContent {
        font-size: 15px;
    }
}
